body, label, select, input, option {
    font-family: 'PT Sans', sans-serif;
    font-size: xx-large;
}

html {
    height: 100%;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background: transparent;
}

div {
    margin-top: 3%;
    color: wheat;
    text-shadow: 2px 2px 2px darkolivegreen;
}

h1 {
    color: wheat;
}